<main>
  <h1>Ajoute un article</h1>
  <form [formGroup]="f">
    <label>
      <span>Nom</span>
      <input type="text" formControlName="name" />
      <span class="error">
        {{ getErrorMessage(f, "name") }}
      </span>
    </label>
    <label>
      <span>Prix</span>
      <input type="number" formControlName="price" />
      <span class="error">
        {{ getErrorMessage(f, "price") }}
      </span>
    </label>
    <label>
      <span>Quantité</span>
      <input type="number" formControlName="qty" />
      <span class="error">
        {{ getErrorMessage(f, "qty") }}
      </span>
    </label>
    <div class="error">
      @if (errorMsg()) {
        <span>Erreur : {{ errorMsg() }}</span>
      }
    </div>
    <div class="buttons">
      <app-async-btn
        class="primary"
        [icon]="faPlus"
        [action]="submit()"
        (setError)="setErrorMsg($event)"
        [disabled]="f.invalid"
      >
        <span>Ajouter</span>
      </app-async-btn>
    </div>
  </form>
</main>
