<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <div class="error">
      @if (errorMsg) {
        <span>Erreur: {{ errorMsg }}</span>
      }
    </div>
    <nav>
      <app-async-btn
        title="Rafraîchir"
        [icon]="faRotateRight"
        [action]="refresh()"
        (setError)="setError($event)"
      >
      </app-async-btn>
      <a routerLink="create" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <app-async-btn
        title="Supprimer"
        [hidden]="selectedArticles.size === 0"
        [icon]="faTrashAlt"
        [action]="remove()"
        (setError)="setError($event)"
      >
      </app-async-btn>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        @for (a of articleService.articles; track a.id) {
          <tr [class.selected]="selectedArticles.has(a)" (click)="select(a)">
            <td class="name">{{ a.name }}</td>
            <td class="price">{{ a.price }} €</td>
            <td class="qty">{{ a.qty }}</td>
          </tr>
        } @empty {
          <tr>
            @if (articleService.articles !== undefined) {
              <td colspan="3">Pas d'article</td>
            } @else if (articleService.errorMsg === "") {
              <td colspan="3">Loading...</td>
            } @else {
              <td colspan="3">
                <strong> Erreur: {{ articleService.errorMsg }} </strong>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</main>
