<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <div class="error">
      @if (errorMsg()) {
        <span>Erreur: {{ errorMsg() }}</span>
      }
    </div>
    <nav>
      <app-async-btn
        title="Rafraîchir"
        [icon]="faRotateRight"
        [action]="refresh()"
        (setError)="setErrorMsg($event)"
      ></app-async-btn>
      <a routerLink="create" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <app-async-btn
        [hidden]="selectedArticles.size === 0"
        title="Supprimer"
        [icon]="faTrashAlt"
        [action]="remove()"
        (setError)="setErrorMsg($event)"
      ></app-async-btn>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        @if (articleService.articles() === undefined) {
          <tr>
            @if (articleService.errorMsg() === "") {
              <td colspan="3">Loading...</td>
            } @else {
              <td colspan="3">
                <strong> Erreur: {{ articleService.errorMsg() }} </strong>
              </td>
            }
          </tr>
        } @else {
          @for (a of articleService.articles(); track a.id) {
            <tr [class.selected]="selectedArticles.has(a)" (click)="select(a)">
              <td class="name">{{ a.name }}</td>
              <td class="price">{{ a.price }} €</td>
              <td class="qty">{{ a.qty }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</main>
